@keyframes opacidad{
    from{
      opacity: 0;
    }to{
      opacity: 1;
    }
  }

*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin-left: 3px;
    animation: opacidad 2s both;
}

input{
    width: 400px;
    height: 40px;
    margin: 0px 5px 5px 10px;
    border: transparent;
    text-align: center;
    font-size: 18px;   
    border-bottom: 2px solid #666f;
    background-color: transparent;
    color:#021;
    /* filter: saturate(1000%) contrast(10); */
}

input:hover{
    height: 40px;
}

h2{
    margin: 25px 270px;
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

mat-horizontal-stepper{
    background: linear-gradient(#888 5% ,#ddd 18%,#ddd 80%, #777 100%);
    border-radius: 40px;
    margin: 0px 5px;
}