*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin-left: 3px;
}

input{
    width: 350px;
    height: 40px;
    margin: 0px 5px 5px 50px;
    z-index: 1;
    border: transparent;
    text-align: center;
    font-size: 18px;    
    border-bottom: 3px solid #111;
    /* filter: saturate(1000%) contrast(10); */
}

input:hover{
    height: 40px;
}

input:focus{
    border-radius: 40px;
    border-bottom: transparent;
    height: 40px;
    /* background-color:#fff; */
    /* background: linear-gradient(#3333, #ccc); */
}

h2{
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
