@keyframes opacidad{
    from{
      opacity: 0;
    }to{
      opacity: 1;
    }
  }

*{
    box-sizing: border-box;
    font-family: sans-serif;
    animation: opacidad 2s both;
    color: #000;
}

input{
    width: 400px;
    height: 40px;
    margin: 0px 5px 5px 10px;
    border: transparent;
    text-align: center;
    font-size: 18px;   
    border-bottom: 2px solid #666f;
    background-color: transparent;
    color:#021;
}

input:hover{
    height: 40px;
}

h2{
    margin: 25px 270px;
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
  color:#000;
}

mat-horizontal-stepper{
    background: linear-gradient(#888 5% ,#ddd 18%,#ddd 80%, #777 100%);
    border-radius: 40px;
    margin: 0px 5px;
}
.contenedor{
  height: 685px;
   background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/04/01/14/755800652bf194c.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: scroll;
   /* filter: sepia(1); */
   object-fit: cover;
}

mat-sidenav-container{
  background-color: #777;
  
  }
  
  mat-sidenav,
  mat-sidenav-content{
  padding: 1px;
  }
  
  mat-sidenav{
    /* background-color: lightcoral; */
    width: 120px;
  }
  .acomodo{
    margin: 10px;
    width: 71px;
    height: 70px;
  }