@keyframes opacidad{
    from{
      opacity: 0;
    }to{
      opacity: 1;
    }
  }

*{
    box-sizing: border-box;
    font-family: sans-serif;
    animation: opacidad 2s both;
    margin: 0;
    padding: 0;
    color: #222;
}

input{
    width: 400px;
    height: 35px;
    margin: 0px 5px 5px 10px;
    border: transparent;
    text-align: center;
    font-size: 18px;   
    border-bottom: 2px solid #000;
    background-color: #555;
}
 
.profes{
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 7px 5px;
  border-bottom: 1px solid #666666;
}
p{
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 12px 10px 0px 40px;
}
 
h2{
    margin: 25px 300px;
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.numero{
    width: 40px;
    text-align: center;
    margin: 0px 20px 0px 85px;
}

textarea{
    width: 350px;
    margin: 0;
    text-align: center;
    border: 1px solid #000;
    color: #0f0404;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 30px;
    background-color: #999;
}
.caja{
  border: 3px solid #000;
  height: 100px; 
  margin: 1px;
  flex-wrap: wrap;
  width: 1200px;
}
mat-sidenav-container{
  background-color: #777;
  }
  
  mat-sidenav,
  mat-sidenav-content{
  padding: 1px;
  }
  
  mat-sidenav{
    width: 120px;
  }
  .acomodo{
    margin: 10px;
    width: 71px;
    height: 70px;
    filter:saturate(1);
    background-color:#ff042344;
  }
  
  img{
    filter: grayscale(10) opacity(0.2) contrast(2);
  }
  button:focus{
    outline: none;
}