@keyframes opacidad{
    from{
      opacity: 0;
    }to{
      opacity: 1;
    }
  }

*{
    box-sizing: border-box;
    font-family: sans-serif;
    animation: opacidad 2s both;
    margin: 0;
    padding: 0;
}

mat-expansion-panel{
    padding: 18px;
    margin: 5px 0px;
}

mat-expansion-panel-header{
display: flex;
flex-wrap: wrap;
font-size: 30px;
}

mat-panel-description{
 display: flex;
 flex-wrap: wrap;
 font-size: 30px;
}

h3{
    font-size: 20px;
    color: black;
    margin: 2px;
}

.LA{
 font-size: 14px;
 margin: 6px 5px 0px 5px;
}

thead{
    font-size: 20px;
    color: black;
    padding: 20px;
    text-align: center;
    border: 2px solid #000;
}
tbody{
    font-size: 17px;
    color: darkgray;
    text-align: center;
    padding: 35px;
    border: 2px solid #000;
}

td{
    border: 2px solid #000;
 }

.btn{
  height: 35px;
 }

 .alumnos{
   margin: 1px 0px;
   padding: 20px;
   font-size: 20px;
 }

 .titulo{
   color:goldenrod;
   font-size: 24px;
   text-align: center;
   border-top: 2px solid #333;
   padding-top: 9px;
   margin-bottom: 5px;
 }

 mat-sidenav-container{
  background-color: #777;
  
  }
  
  mat-sidenav,
  mat-sidenav-content{
  padding: 1px;
  }
  
  mat-sidenav{
    /* background-color: lightcoral; */
    width: 120px;
  }
  .acomodo{
    margin: 10px;
    width: 71px;
    height: 70px;
    background-color:#ff042344;
  }
  button:focus{
    outline: none;
}
.agregar{
  background-color: #444;
  font-size: 20px;
  font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  color: mediumturquoise;
}
.agregar:hover{
  color: white;
  background-color:green;
}