@keyframes opacidad{
    from{
      opacity: 0;
    }to{
      opacity: 1;
    }
  }

*{
    box-sizing: border-box;
    font-family: sans-serif;
    animation: opacidad 2s both;
    margin: 0;
    padding: 0;
}
 
.contenedor{
    height: 580px;
    border-radius: 50px;
    margin: 0%;
}

mat-sidenav-container{
background-color: #777;

}

mat-sidenav,
mat-sidenav-content{
padding: 1px;
}

mat-sidenav{
  /* background-color: lightcoral; */
  width: 120px;
}
.acomodo{
  margin: 10px;
  width: 71px;
  height: 70px;
}