<app-navbar></app-navbar>
<div class="fondo" style="padding: 100px 0px">
    <div class="jumbotron" style="width: 900px;">
        <h2 style="margin: 10px 200px 20px; color: #fff; font-size:30px;">¿Que deseas hacer?</h2>
        <div class="example-button-container">
            <div style="margin: 10px; padding: 20px 0px" class="contenedor">
                <button class="boton" mat-fab aria-label="Example icon button with a heart icon" matTooltip="Eventos" [routerLink]="['/eventosView']">
                </button>
               
                <button class="boton2" mat-fab aria-label="Example icon button with a heart icon" matTooltip="Alumnos" [routerLink]="['/alumnos']">
                </button>
                
                <button class="boton3" mat-fab aria-label="Example icon button with a heart icon" matTooltip="Reporte sabatino" [routerLink]="['/reportesView']">
                        
                </button>
          
                <button class="boton4" mat-fab aria-label="Example icon button with a heart icon" matTooltip="Profesores" [routerLink]="['/profesoresView']">
                </button>
                
                <button class="boton5" mat-fab aria-label="Example icon button with a heart icon" matTooltip="Materias" [routerLink]="['/materias']">
                </button>
                
                <button class="boton6" mat-fab aria-label="Example icon button with a heart icon" matTooltip="Representantes" [routerLink]="['/represView']">
                    <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                        <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                      </svg>
                </button>
              </div>
        </div>
    </div>
</div>

<!-- 
    Agregar la liga para la carpeta de drive
    En los eventos agregar recordatorios.
-->
<router-outlet></router-outlet>