.contenedor{
perspective: 30px -100px;
}

.boton{
    background-color: rgb(10, 207, 181); width: 100px;  height: 100px;  margin: 0px 15px; border: 1px solid #f3f4;
    /* transition-delay: 5s; */
    transition:transform 1s;
} 

.boton:hover{
    border: 2px solid rgba(15, 2, 46, 0.788);
    transform: rotateY(-180deg) translateY(-15px);
}


.boton2{
    background-color:  rgb(10, 207, 181); width: 100px; height: 100px; margin: 0px 15px; border: 1px solid #200a;
    transition:transform 1s;
}
.boton2:hover{
    border: 2px solid rgba(102, 0, 0, 0.856);
    transform: rotateY(180deg) translateY(-15px);
}

.boton3{
    background-color:  rgb(10, 207, 181); width: 100px; height: 100px; margin: 0px 15px; border: 1px solid #f3f4;
    transition:transform 1s;
}
.boton3:hover{
    border: 2px solid rgba(102, 0, 0, 0.856); 
    transform: rotateY(180deg) translateY(-15px);  
}
 
.boton4{
    background-color:  rgb(10, 207, 181); width: 100px; height: 100px; margin: 0px 15px; border: 1px solid #200a;
    transition:transform 1s;
}
.boton4:hover{
    border: 2px solid rgba(15, 2, 46, 0.788);
    transform: rotateY(180deg) translateY(-15px);  
}
 
.boton5{
    background-color:  rgb(10, 207, 181); width: 100px; height: 100px; margin: 0px 15px;  border: 1px solid rgb(218, 38, 6);
    transition:transform 1s;
}
.boton5:hover{
    border: 2px solid rgba(46, 38, 2, 0.788);
    transform: rotateY(180deg) translateY(-15px);  
}
 
.boton6{
    background-color: rgb(10, 207, 181); width: 100px; height: 100px; margin: 0px 15px;  border: 1px solid rgb(218, 38, 6);
    transition:transform 1s;
}
.boton6:hover{
    border: 2px solid rgba(2, 46, 8, 0.788); 
    transform: rotateY(180deg) translateY(-15px); 
}
 