<div style="background: linear-gradient(#fff 2%,rgba(17, 148, 255, 0.667) 30%,#0f08 50%, #f088 70%, #fff 100%); height: 400px;">
    <h2 class="text-center" style="margin: 20px 0px 0px 0px;"><strong>Login</strong></h2>
     <form autocomplete="off" ngForm="form" #form="ngForm" (ngSubmit)="logearse(form)">
        <div class="jumbotron fondo text-center" style="width: 700px; margin: 10px auto 0px auto; border-radius: 50px;">
              <div class="d-flex"> 
                  <label class="col-2" style="margin-top: 10px;">Nombre: </label>
                 <input type="text" class="form-control col-10 mb-2 shadow" style="border-radius: 15px; height: 50px;" placeholder="Ingresar Nombre" name="nombre" [(ngModel)]="coordiNew.nombre" #nombre="ngModel"  required>
              </div>
              <div class="d-flex">
                  <label class="col-2" style="margin-top: 10px;">contraseña: </label>
                 <input type="text" class="form-control col-10 mb-2 shadow" style="border-radius: 15px; height: 50px;" placeholder="Ingresar contraseña" name="password" [(ngModel)]="coordiNew.password" #password="ngModel" required>
              </div>
                <button type="submit" class="btn btn-outline-success">Iniciar</button>    
        </div>
     </form>
</div>