@keyframes opacidad{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}

*{
  box-sizing: border-box;
  
}
.modal3{
  animation: opacidad 1s both;
}
button:focus{
  outline: none;
}
table{
    width: 100%;
  }
  input{
    width: 400px;
    height: 40px;
    margin: 0px 5px 5px 10px;
    border: transparent;
    text-align: center;
    font-size: 18px;   
    border-bottom: 2px solid #666f;
    background-color: transparent;
    color:#021;
    /* filter: saturate(1000%) contrast(10); */
}

input:hover{
    height: 40px;
}

h2{
    margin: 25px 270px;
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.modal-content{
  width: 1300px;
  margin: 20px -400px;
}

.modal2{
  background: radial-gradient(#fff 0%, #fff 93%, #333 100%);
  border-radius: 30px;
}

.titulo{
  margin: 10px 420px;
    text-align: center;
    font-size: 49px;
    font-family: 'Lobster', cursive;
    letter-spacing: 1px;
    color: #ff0080d0;
}
mat-header-cell{
  font-size: 18px;
}

mat-header-cell:hover{
  color: #ff017fff;
}
mat-cell:hover{
  color: #ff017fff;
}
.modal1{
  background: radial-gradient(#fff 5% ,#eee 80%,#222 100%);
  padding: 0;
  animation: opacidad 1s both;
}
.animacion{
  animation: opacidad 2.5s both;
}

mat-sidenav-container{
  background-color: #777;
  
  }
  
  mat-sidenav,
  mat-sidenav-content{
  padding: 1px;
  }
  
  mat-sidenav{
    /* background-color: lightcoral; */
    width: 120px;
  }
  .acomodo{
    margin: 10px;
    width: 71px;
    height: 70px;
    background-color:#ff042344;
  }