.fondo{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20201023/pngtree-geometric-abstract-background-geometric-abstract-wallpaper-hd-design-image_432579.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    /* filter: saturate(5) sepia(0.9); */
    object-fit: cover;
    animation: opacidad 5s both;
}
/* nav{
    width: 3000px;
} */
input{
    width: 580px; 
    height: 50px;
    margin: 10px;
    border: transparent;
    border-radius: 10px;
    font-size: 18px;
    padding: 20px;
}

input:focus{
    border: 2px solid #333;
    box-sizing: border-box;
    outline: none;
}

img{
    cursor: pointer;
    outline: none;
}
button:focus{
    outline: none;
}

a{
    cursor: pointer;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    /* color: darkcyan; */
    /* text-shadow: 0px 1px #111; */
    /* border-bottom: 2px solid #ccc; */
}

a:focus{
    outline: none;
}