<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
      <button mat-fab aria-label="Example icon button with a heart icon" matTooltip="Pagina principal" routerLink="home" style="margin-right:15px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
          <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
        </svg>
      </button>
      <h1 style="margin: 2px 0px; color: crimson; font-size: 22px;" routerLink="home" matTooltip="Escuela Secundaria de Formacion Catolica">Bienvenido al control escolar de la <strong>Escuela Secundaria de Formacion Catolica</strong></h1>
      <form class="form-inline" style="margin: 0px 0px 0px 60px;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" matTooltip="Buscar">Search</button>
      </form>
      <button class="btn login" style="margin: 0px 10px;" routerLink="login" matTooltip="iniciar sesion">Iniciar sesion</button>
    </div>
  </nav>