    @keyframes opacidad{
        from{
          opacity: 0;
        }to{
          opacity: 1;
        }
    }
    
      *{
        box-sizing: border-box;
        animation: opacidad 1s both;
        color: black;
    }

    @keyframes arcoiris{
        0%{border: 2px solid #f1fc09;}
        10%{border: 2px solid #f24;}
        20%{border: 2px solid #333;}
        30%{border: 2px solid #c4a;}
        40%{border: 2px solid #79f;}
        50%{border: 2px solid #000;}
        60%{border: 2px solid #fff;}
        70%{border: 2px solid #7f6;}
        80%{border: 2px solid #f00;}
        90%{border: 2px solid #1af;}
        100%{border: 2px solid #1f1;}
    }

    @keyframes letras{
        0%{color: white;}
        50%{color: #222;}
        100%{color: black;}   
    }

.contenedor{
    /* background-image: url('../../../assets//fondoE.png') ; */
    display: grid;
    /* background-size:cover; */
    grid-template-areas:
    "header header header"
    "main main asidel"
    "main main asidel"
    "main main asidel"
    "main main asidel"
    ;
    /* height: 90vh; */
    grid-template-rows: repeat(6, 1fr);
    /* background-position: 0px -120px; */
    /* filter: contrast(2); */
    /* background-repeat: no-repeat; */
    /* grid-gap: 4px; */
    /* background:linear-gradient(#c4a5 0%, #9275 5%);  */
    background-color: #bba1e1;
background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%236814ee' fill-opacity='0.77' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.header{
    /* background-color: #af19;
    border: 2px outset #f12e; */
    grid-area: header;
    height: max-content;
    display: flex;
    justify-content:center;
    /* color: #000; */
}
.main{
     /* background-color: #f64; */
    /* border: 2px outset #f12e; */
    grid-area: main;
    height: max-content;
    /* width: 1000px; */
    /* clip-path: polygon(0% 0%, 0% 0%, 0% 95%, 100% 100%, 100% 0% ); */
    position: absolute;
    top: 200px;
    margin-top: 20px;    
}

.asidel{
    display: flex;
    flex-wrap: wrap;
    grid-area: asidel;
    
}

h2{
    font-size: 49px;
    /* font-family:sans-serif; */
    font-family: 'Sriracha', cursive;
    color: black;
    margin: 33px 250px 0px 40px;
    letter-spacing: 0.5px;
    /* word-wrap:normal;  */
    /* word-break:break-all; */
    word-spacing: -5px;
    /* text-size-adjust: 10px; */
    }
    h3{
        font-size: 27px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #222;
        margin: 0px 290px;
    }
.btn{
    position: absolute;
    left: 1280px;
    top: 140px;
}

table{
margin-bottom: 2px;
margin-top: 10px;
font-size: 16px;
background-image: url('../../../assets/eventos.jpg');
background-size: cover;
}

thead > td{
    animation: arcoiris 16s alternate infinite;
    color: white;
    font-size: 20px;
    /* border-radius: 10%; */
}

thead > td::first-letter{
    text-transform: uppercase;
    
}

tbody > td{
    animation: arcoiris 16s alternate infinite;
    color: white;
    /* border-radius: 10%; */
}

.letras{
    animation: letras 3s 0.1s alternate infinite;
}
