    @keyframes opacidad{
        from{
          opacity: 0;
        }to{
          opacity: 1;
        }
    }
    
      *{
        box-sizing: border-box;
        animation: opacidad 1s both;
        color: black;
    }

    @keyframes arcoiris{
        0%{border: 2px solid #f1fc09;}
        10%{border: 2px solid #f24;}
        20%{border: 2px solid #333;}
        30%{border: 2px solid #c4a;}
        40%{border: 2px solid #79f;}
        50%{border: 2px solid #000;}
        60%{border: 2px solid #fff;}
        70%{border: 2px solid #7f6;}
        80%{border: 2px solid #f00;}
        90%{border: 2px solid #1af;}
        100%{border: 2px solid #1f1;}
    }

    @keyframes letras{
        0%{color: white;}
        50%{color: #222;}
        100%{color: black;}   
    }

.contenedor{
    /* background-image: url('../../../assets//fondoE.png') ; */
    display: grid;
    background-size:cover;
    grid-template-areas:     
    "header header header"
    "header header header"
    "main main asidel"
    "main main asidel"
    "main main asidel"
    "main main asidel"
    "main main asidel"
    "main main asidel"
    ;
    /* height: 90vh; */
    grid-template-rows: repeat(6, 1fr);
    /* background-position: 0px -120px; */
    /* filter: contrast(2); */
    background-repeat: no-repeat;
    /* grid-gap: 4px; */
    background:linear-gradient(#c4a5 0%, #9275 5%); 

}

.header{
    /* background-color: #af19;
    border: 2px outset #f12e; */
    grid-area: header;
    height: 150px;
    display: flex;
    justify-content:center;
    /* color: #000; */
}
.main{
     /* background-color: #f64; */
    /* border: 2px outset #f12e; */
    grid-area: main;
    height: max-content;
    /* width: 1000px; */
    /* clip-path: polygon(0% 0%, 0% 0%, 0% 95%, 100% 100%, 100% 0% ); */
    position: absolute;
    top: 200px;
    margin-top: 20px;    
}

.asidel{
    display: flex;
    flex-wrap: wrap;
    grid-area: asidel;
    
}

h2{
    font-size: 40px;
    font-family:sans-serif;
    color: black;
    margin: 33px 250px 0px 40px;
    letter-spacing: 0.5px;
    /* word-wrap:normal;  */
    /* word-break:break-all; */
    word-spacing: -5px;
    /* text-size-adjust: 10px; */
    }
    h3{
        font-size: 27px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #222;
        margin: 0px 290px;
    }
.btn{
    position: absolute;
    left: 1280px;
    top: 140px;
}

table{
margin-bottom: 2px;
margin-top: 10px;
font-size: 16px;
background-image: url('../../../assets/eventos.jpg');
background-size: cover;
}

thead > td{
    animation: arcoiris 16s alternate infinite;
    color: white;
    font-size: 20px;
    /* border-radius: 10%; */
}

thead > td::first-letter{
    text-transform: uppercase;
    
}

tbody > td{
    animation: arcoiris 16s alternate infinite;
    color: white;
    /* border-radius: 10%; */
}

.letras{
    animation: letras 3s 0.1s alternate infinite;
}
